Tuples Exercises

In [5]:
#1-Write a Python program to create a tuple of numbers and print one item.
tuple1=(1,3,5,7,9)
print("The entered tuple is: ",tuple1)
print("The 3rd item in this tiple is: ",tuple1[2])

The entered tuple is:  (1, 3, 5, 7, 9)
The 3rd item in this tiple is:  5

In [21]:
#2- Write a Python program to unpack a tuple into several variables.
tuple2=("hello ","world"," python"," learning")
print(tuple2)
a,b,c,d=tuple2
print(a + b + c + d )

('hello ', 'world', ' python', ' learning')
hello world python learning

In [27]:
#3-Write a Python program to add an item to a tuple at index number 2.
tuple3=(1,2,3,4,5,6)
list1=list(tuple3)
list1.insert(2,"Numbers")
tuple3=tuple(list1)
print(tuple3)

(1, 2, 'Numbers', 3, 4, 5, 6)

In [35]:
#4-Write a Python program to convert a tuple to a string.
tuple4=('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
string1="".join(tuple4)
print(string1)

exercises

In [41]:
#5-Write a Python program to find repeated items in a tuple.
tuple5=(1,2,2,3,3,3,4,5,6)
for i in tuple5:
    if tuple5.count(i)>1:
        print(f"The number {i} is repeated")
    else:
        print(f"The number {i} is not repeated")

The number 1 is not repeated
The number 2 is repeated
The number 2 is repeated
The number 3 is repeated
The number 3 is repeated
The number 3 is repeated
The number 4 is not repeated
The number 5 is not repeated
The number 6 is not repeated

In [49]:
#6-Write a Python program to remove an item from a tuple.
tuple6=(1,2,3,4,5,6,7)
list2=list(tuple6)
list2.remove(3)
tuple6=tuple(list2)
print(tuple6)

(1, 2, 4, 5, 6, 7)

In [51]:
#7- Write a Python program to reverse a tuple.
tuple7=(2,5,4,1,4,7)
list3=list(tuple7)
tuple7=list3.reverse()
tuple7=tuple(list3)
print(tuple7)

(7, 4, 1, 4, 5, 2)

In [50]:
#8- Write a Python program to replace the last value of tuples in a list.
tuples_list=[(1,2),(3,4,5),(6,7,8)]
newValue="DummyText"
updatedList=[(t[:-1] + (newValue,)) for t in tuples_list]
print(updatedList)

[(1, 'DummyText'), (3, 4, 'DummyText'), (6, 7, 'DummyText')]

Lists Exercises

In [54]:
#1-Create a list of your favorite fruits. Add another fruit to the end of the list using append()
list4= ["Banana","Watermelon","Mango"]
print(list4)
list4.append("Apples")
print(list4)

['Banana', 'Watermelon', 'Mango']
['Banana', 'Watermelon', 'Mango', 'Apples']

In [60]:
#2- Create two lists of numbers, then extend the first list by adding all elements from the second list using extend()
list5=[1,2,3,4,5]
list6=[6,7,8]
list5.extend(list6[0:])
print(list5)

[1, 2, 3, 4, 5, 6, 7, 8]

In [63]:
#3- insert(index, item) Start with a list of colors. Insert a new color at the second position (index 1).
list7=["Green","Yellow","Blue","Red"]
print(list7)
list7.insert(1,"Violet")
print(list7)

['Green', 'Yellow', 'Blue', 'Red']
['Green', 'Violet', 'Yellow', 'Blue', 'Red']

In [75]:
#4-Create a list of city names with some duplicates. Use remove() to delete the first occurrence of a city
cities=["Munich","Milan","Amsterdam","Cairo","Paris","Liverpool","Paris","Milan"]
print(cities)
for city in cities:
    if cities.count(city)>1:
        cities.remove(city)
print(cities)

['Munich', 'Milan', 'Amsterdam', 'Cairo', 'Paris', 'Liverpool', 'Paris', 'Milan']
['Munich', 'Amsterdam', 'Cairo', 'Liverpool', 'Paris', 'Milan']

In [83]:
#5- pop(index) Make a list of your favorite animals. Use pop() to remove the animal at the third position and store it in a variable.
FavAnimals=["Lion","Chimpanzee","Giraffe","Elephant","Bear"]
print("The list is: ", FavAnimals)
updated=FavAnimals.pop(2)
print("The updated list is: ",FavAnimals)
print("The deleted item is:",updated)

The list is:  ['Lion', 'Chimpanzee', 'Giraffe', 'Elephant', 'Bear']
The updated list is:  ['Lion', 'Chimpanzee', 'Elephant', 'Bear']
The deleted item is: Giraffe

In [85]:
#6- Create a list of random numbers, then clear it using clear().
randomNum=[2,5,3,7,5,9,4]
print(randomNum)
randomNum.clear()
print(randomNum)

[2, 5, 3, 7, 5, 9, 4]
[]

Dictionary

In [93]:
#1- Create a dictionary of country capitals. Use get() to retrieve the capital of 'France', with a default value if itâ€™s not in the dictionary.
country_capitals = {
    "Italy": "Milan",
    "Japan": "Tokyo",
    "Germany": "Berlin",
    "Egypt": "Cairo",
    "France":"Paris"}
capital = country_capitals.get("France", "Capital not found")
print("The capital of France is:",capital)

The capital of France is: Paris

In [95]:
#2- Make a dictionary of programming languages and their popular frameworks. Use keys() to get a list of all languages.
lang = {"Python": ["Django", "Flask"], "JavaScript": ["React", "Angular", "Vue.js"],"Java": ["Spring", "Hibernate", "Struts"],"PHP": ["Laravel", "Symfony", "CodeIgniter"]}
languages = lang.keys()
print("List of programming languages:",list(languages))

List of programming languages: ['Python', 'JavaScript', 'Java', 'PHP']

In [97]:
#3-Using the previous dictionary, get a list of all frameworks using values().
frameworks=lang.values()
print("List of all frameworks:",list(frameworks))

List of all frameworks: [['Django', 'Flask'], ['React', 'Angular', 'Vue.js'], ['Spring', 'Hibernate', 'Struts'], ['Laravel', 'Symfony', 'CodeIgniter']]

In [103]:
#4-Use items() to get a list of all key-value pairs in a dictionary representing items and their prices.
items={"NVIDIA GTX 1660TI":9800,"Intel Core i5-10400F":3300,"DELL Gaming Monitor":3200,"8GB RAM":570}
listedItems=items.items()
print("List of all items is:",list(listedItems))

List of all items is: [('NVIDIA GTX 1660TI', 9800), ('Intel Core i5-10400F', 3300), ('DELL Gaming Monitor', 3200), ('8GB RAM', 570)]

In [107]:
#5- Create a dictionary with some initial values, and then use update() to add more items.
diction={"key1":100,"key2":200,"key3":300,"key4":400}
diction.update({"key5":500,"key6":600})
print(diction)

{'key1': 100, 'key2': 200, 'key3': 300, 'key4': 400, 'key5': 500, 'key6': 600}

In [111]:
#6- Remove an item from a dictionary of students by using pop(), then store the popped value in a variable.
dict2={"Stud1":"Ahmed","Stud2":"Fares","Stud3":"Mohamed","Stud4":"Youssef"}
print(dict2)
poppedVar=dict2.pop("Stud2")
print(dict2)
print("The popped values is:",poppedVar)

{'Stud1': 'Ahmed', 'Stud2': 'Fares', 'Stud3': 'Mohamed', 'Stud4': 'Youssef'}
{'Stud1': 'Ahmed', 'Stud3': 'Mohamed', 'Stud4': 'Youssef'}
The popped values is: Fares

In [115]:
#7-Create a dictionary and use clear() to remove all items.
dict3={"Biology":"B+","Calculus":"A-","Algebra":"A","Psychology":"B+","History":"B"}
print(dict3)
dict3.clear()
print(dict3)

{'Biology': 'B+', 'Calculus': 'A-', 'Algebra': 'A', 'Psychology': 'B+', 'History': 'B'}
{}